<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 日志中的换行符，默认是#012，原因是目前elog平台在收集的时候，不希望在一条message中出现\n换行符，建议使用空格或其他特殊标识符，如果需要换行，可以换成\n -->
    <!-- <pattern line.separator=" " /> -->
    <!-- 自己的app_id  -->
    <property name="APP_ID" value="baiying.hu"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 输出到文件，文件日志需要去服务器上看 -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${APP_ID}/access.log</file>
        <encoder>
            <Pattern>[%date] [%-5level] %c{40} %line --%mdc{client} [%X{TRACE_LOG_ID}] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_ID}/access.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="console"/>
    </root>
</configuration>